@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
   em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
   b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
   details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
   output, ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
   menu, nav, section {
   display: block;
}

html{
   height:100%;
   
}

body {
   line-height: 1;
   height:100%;
  background-color: #f8f8f8;
     background-size: cover;
   background-attachment:fixed;
}

ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

html, body {
   height: 100%;
   width: 100%;
   margin: 0px;
   padding: 0px;
    
}

.wrapper {
	
   width: 100%;
   height: 100%;

   background-size: cover;
   background-position: center;
}

.main {
   padding-top: 148px;
}

.logo {
   width: 235px;
   margin-top :-20px;
   margin-left: 35%;
}

.logo img {
   width:200px;
   height:150px;
}



.login_box {
  width: 700px;
  height: 500px;
   min-height: 200px;
   padding-left:30%;
   border-radius: 5px;
  
}

.login_box .input_login {
   border-bottom: 2px solid #c4c5c4;
   padding: 48px 0 15px 0;
}

.login_box .input_login input {
   width: 100%;
   color: #828180;
   font-size: 15px;
   font-family: '돋움';
   border: none;
}

.login_box .check {
   color: black;
   font-size: 14px;
   padding: 9px 0 15px 0;
}

.login_box .login input {
   width: 100%;
   height: 55px;
   color: #fff;
   font-size: 16px;
   padding: 17px 0 16px;
   border: 0;
   cursor: pointer;
   font-family: '돋움';
 
}

.login_box .last {
   width: 100%;
   margin-top: 10px;
   border-top: 1px solid #ebebeb;
   padding-top: 20px;
}

.login_box .last .join {
   float: left;
   margin-left: 24px;
}

.login_box .last .id_search {
   float: left;
   margin-left: 24px;
}

.login_box .last .password_search {
   float: left;
   margin-left: 24px;
}

/*-----------------회원가입 폼-------------------------------*/
form {
   background: #ffffff;
   counter-reset: fieldsets;
   padding: 50px;
    width: auto;
    height: auto;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
 
}

.ment{
	width: 100%;
	height: 100%;
}

.ment img{
	width: 80%;
	height: 80%;
	padding-left: 12%;
	padding-top: 40px;
}

form fieldset {
   border: none;
   margin-bottom: 10px;
   
}

form fieldset:last-of-type {
   margin-bottom: 0;
}

form legend {
   color: #000000;
   font-size: 20px; /* 제목 */
   font-weight: bold;
   padding-bottom: 10px;
   text-shadow: 0 1px 1px #2f2f2f;
}

form>fieldset>legend:before {
   padding-left: 10px;
   content: "회원가입 "  "  :   ";
   counter-increment: fieldsets;
}

form fieldset fieldset legend {
   color: #111111;
   font-size: 50px;
   font-weight: bold;
   padding-bottom: 0;
}



form button {

	width:100px;
  font-size: 12px;
  font-weight:bold;
  display: block;
  margin-bottom: 12px;
  padding: 16px 13px;
  color: #000000;
  border: 2px solid #d9d9d9;
  background: transparent;
	float : left;
	margin-left: 40px;
	background-color: #f8f8f8;
}



form button:hover {
  top: 3px;
   background-color: #263238;
    color: #ffffff;
    font-weight: bold;
  
}

.button{
	margin-top: 60px;
	margin-left: 35%;
}


