@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
}

.bg {
   position: fixed;
   top: 0;
   left: 0;
}

.bgwidth {
   min-width: 100%;
}

.bgheight {
   height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
   em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
   b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
   details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
   output, ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
   menu, nav, section {
   display: block;
}

html {
   height: 100%;
}

body {
   line-height: 1;
   height: 100%;
   background-color: #f8f8f8;
   background-size: cover;
   background-attachment: fixed;
}

ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

html, body {
   height: 100%;
   width: 100%;
   margin: 0px;
   padding: 0px;
}

.wrapper {
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
}

.main {
   padding-top: 20px;
}

/* .logo {
   width: 235px;
   margin-top :-20px;
   margin-left: 35%;
} */
.join-logo {
   width: 235px;
   margin: 0 auto 10px;
}

.join-logo img {
   width: 100%;
   min-height: 100%;
}

/* .logo img {
   width:200px;
   height:150px;
} */
.newmember_box {
   width: 700px;
   height: 500px;
   min-height: 200px;
   padding-left: 30%;
   border-radius: 5px;
}

.newmember_box .input_login {
   border-bottom: 2px solid #c4c5c4;
   padding: 48px 0 15px 0;
}

.newmember_box .input_login input {
   width: 100%;
   color: #828180;
   font-size: 15px;
   font-family: '돋움';
   border: none;
}

.newmember_box.check {
   color: black;
   font-size: 14px;
   padding: 9px 0 15px 0;
}

.newmember_box .login input {
   width: 100%;
   height: 55px;
   color: #fff;
   font-size: 16px;
   padding: 17px 0 16px;
   border: 0;
   cursor: pointer;
   font-family: '돋움';
}

.newmember_box .last {
   width: 100%;
   margin-top: 10px;
   border-top: 1px solid #ebebeb;
   padding-top: 20px;
}

.newmember_box .last .join {
   float: left;
   margin-left: 24px;
}

.newmember_box.last .id_search {
   float: left;
   margin-left: 24px;
}

.newmember_box .last .password_search {
   float: left;
   margin-left: 24px;
}

/*-----------------회원가입 폼-------------------------------*/
.join-wrapper {
   /*    background: #ffffff;
   counter-reset: fieldsets;
   padding: 60px;
    width: 300px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px; */
   position: relative;
   margin-top: 50px;
   width: 600px;
   margin: 50px auto;
   padding: 45px 44px 38px 44px;
   background: white;
   -moz-box-shadow: 0 0 20px black;
   -webkit-box-shadow: 0 0 20px black;
   box-shadow: 0 0 20px black;
 
}

form fieldset {
   border: none;
   margin-bottom: 10px;
}

form fieldset:last-of-type {
   margin-bottom: 0;
}

form legend {
   color: #000000;
   font-size: 20px; /* 제목 */
   font-weight: bold;
   padding-bottom: 10px;
   text-shadow: 0 1px 1px #2f2f2f;
}

fieldset>legend:before {
   padding-left: 10px;
   content: "회원가입 " "  :   ";
   counter-increment: fieldsets;
}

form fieldset fieldset legend {
   color: #111111;
   font-size: 50px;
   font-weight: bold;
   padding-bottom: 0;
}

form ol li {
   margin-left: 30px;
   font-size: 14px;
   display: block;
   width: 520px;
   height: 26px;
   margin-bottom: 12px;
   padding: 16px 13px;
   border: 1px solid #999999;
   background: transparent;
}

form ol ol li {
   background: none;
   border: none;
   float: left;
}

form label {
    float: left;
    font-size: 16px;
    width: 120px;
    font-weight: bold;
    padding-top: 5px;
}

form fieldset fieldset label {
   background: none no-repeat left 50%;
   line-height: 100px;
   padding: 0 0 0 30px;
   width: 100px;
}

form fieldset fieldset label:hover {
   cursor: pointer;
}

/* form fieldset oi li input[type="text"]{ 
background: #ffffff;
   border: none;
   font: italic 12 px 맑은고딕, 굴림, 돋움;
   outline: none;
   padding-left: 1 px;
   width: 250 px;
   height: 50 px;
   background-color: #f8f8f8;
}
 */
/* form input:not([type=submit]):focus{
background: #eaeaea;
} */
.btn{
	margin-top: 6px;
   margin-right: 20px;
   font-weight: bold;
   display: inline-block;
   color: #6c6c6c;
   padding: 5px 5px;
   border: 2px solid #d9d9d9;
   background: transparent;
   background-color: #f1f1f1;
}

.btn1{
	margin-top: 6px;
   margin-right: 20px;
   width:100px;
   font-weight: bold;
   display: inline-block;
  color: #6c6c6c;
   padding: 10px 10px;
   border: 2px solid #d9d9d9;
   background: transparent;
   background-color: #f1f1f1;
}


.btn .join-button {
   float: left;
   margin-left: 90px;
}

#center{
   margin-left: 125px;
}

.join-button:hover {
   background-color: #263238;
   color: #ffffff;
   font-weight: bold;
}

.peoplebutton : hover {
   color: #ffffff;
}

#dogbutton {
   margin-left: 10%;
}

.peoplebutton {
   margin-top: 7%;
   margin-left: 10%;
}

.check {
   float: left;
   margin-left: 347px;
   margin-top: -40px;
}

.dogplus {
   float: right;
   margin-top: -35px;
}